<!DOCTYPE html>
<html lang="en">
<head>
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Express Node Mongoose</title>
</head>
<body>
    <form action="/post" method="POST">
        <div class="form-group">
            <label for="title">Location Name</label>
            <input required type="text" name="title" id="title" class="form-control"><!-- Make sure ID matches up to the database ID/COLUMN otherwise data won't pass through for that column -->
        </div>
    
        <div class="form-group">
            <label for="description">Description</label>
            <textarea required type="text" name="description" id="description" class="form-control"></textarea>
        </div>
    
        <div class="form-group">
            <label for="rating">Rating ?/10</label>
            <input required type="number" min="1" max="10" name="rating" id="rating" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <table>
        <tr>
            <th style="text-align:center;">Places Traveled</th>
            <th style="text-align:center;">Description</th> 
            <th style="text-align:center;">Rating:</th>
          </tr>
    <% for(var i = 0; i < postObj.length; i++) { %>
        <tr>
       <td style="text-align:center; overflow:hidden; table-layout:fixed;"> <a href="/post/<%=postObj[i].id %>"><%= postObj[i].title %></a></td>
       <td style="text-align:center; overflow:hidden; table-layout:fixed;width: 280px;"> <%= postObj[i].description %></td>
       <td style="text-align:center; overflow:hidden; table-layout:fixed;"> <%= postObj[i].rating %>/10</td>
       <td style="text-align:center; overflow:hidden; table-layout:fixed;">
            <form action="/post/<%=postObj[i].id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form></td>
       <%} %>
    </tr>
    </table>
       

</body>
</html>